name: shinobi-hackwae

services:
  app:
    image: shinobisystems/shinobi:latest
    restart: unless-stopped

    environment:
      - TZ=Asia/Makassar
      - ADMIN_EMAIL= admin@shinobi.video
      - ADMIN_PASSWORD= admin

    ports:
      - target: 8080
        published: 8085
        protocol: tcp

    volumes:
      - /DATA/AppData/shinobi/config:/config
      - /DATA/AppData/shinobi/videos:/var/lib/shinobi/videos
      - /DATA/AppData/shinobi/database:/var/lib/mysql

x-casaos:
  architectures:
    - amd64
    - arm64
  main: app
  category: Security
  port_map: "8085"
  scheme: http
  index: /
  webui: http://[HOST]:[PORT]
  icon: https://raw.githubusercontent.com/WaeTechDesign/casaos-appstore/refs/heads/main/Apps/icon/shinobi.png
  thumbnail: https://raw.githubusercontent.com/WaeTechDesign/casaos-appstore/refs/heads/main/Apps/icon/shinobi.png
  tips:
    custom: |-
      https://IP/super

      username : admin@shinobi.video
      pass : admin
  title:
    en_us: Shinobi CCTV HackWae
  description:
    en_us: Self-hosted CCTV NVR System with auto superuser setup
  developer: HackWae
  envs:
    - container: ADMIN_EMAIL
      description:
        en_us: Superuser email login
    - container: ADMIN_PASSWORD
      description:
        en_us: Superuser password
    - container: ADMIN_KEY
      description:
        en_us: Superuser key (required for login)
