name: moodle-hackwae

services:
  db:
    image: mariadb:10.6
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: m00dle
      MYSQL_DATABASE: moodle
      MYSQL_USER: moodle
      MYSQL_PASSWORD: m00dle
    volumes:
      - /DATA/AppData/moodle-db:/var/lib/mysql
    networks:
      - moodle

  app:
    image: prasta/moodle:latest 
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - target: 80
        published: 8484
        protocol: tcp
    volumes:
      - /DATA/AppData/moodledata:/var/www/moodledata
    networks:
      - moodle

networks:
  moodle:

x-casaos:
  store_app_id: moodle-hackwae
  architectures:
    - amd64
    - arm64
  main: app
  category: HackWae-Appstore
  port_map: "8484"
  scheme: http
  index: /
  webui: http://[HOST]:[PORT]
  icon: https://raw.githubusercontent.com/WaeTechDesign/casaos-appstore/refs/heads/main/Apps/icon/Moodle%20Icon.png
  thumbnail: https://raw.githubusercontent.com/WaeTechDesign/casaos-appstore/refs/heads/main/Apps/icon/Moodle%20Icon.png
  title:
    en_us: Moodle HackWae
  description:
    en_us: Self-hosted Moodle LMS (Full Performance)
  developer: HackWae
